
/* Apply margin shift to main and stormdex-container when sidenav is open */
.sidenav-open #main,
.sidenav-open #stormdex-container {
  margin-right: 300px;
  transition: margin-right 0.5s;
}

@media (max-width: 900px) {
  .sidenav-open #main,
  .sidenav-open #stormdex-container {
    margin-right: 100%;
  }
}




/*
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/